# Requirements

For any system requirements or troubleshooting there are references in the [devenv-vagrant README.md](https://github.com/classyllama/devenv-vagrant/blob/master/README.md).

[macOS Setup](https://github.com/classyllama/devenv-vagrant/blob/master/macOsSetup.md)

[Windows Setup](https://github.com/classyllama/devenv-vagrant/blob/master/windowsSetup.md)

[Project Setup](https://github.com/classyllama/devenv-vagrant/blob/master/projectSetup.md)

[Troubleshooting](https://github.com/classyllama/devenv-vagrant/blob/master/troubleshooting.md)

# Initialize DevEnv

  Initialize DevEnv repo source files

    gitman install

  Build machine
  
    vagrant up
  
  Start Mutagen

    mutagen project start
    mutagen sync monitor

  Run from within the VM
  
  Initialize files if needed

    cd /var/www/data/magento

    composer install

  Setup configs for env.php

    cd /var/www/data/magento

    mkdir pub/media
    mkdir pub/static

    bin/magento setup:install \
      --base-url="https://example.lan" \
      --base-url-secure="https://example.lan" \
      --backend-frontname="backend" \
      --use-rewrites=1 \
      --admin-user="devadmin" \
      --admin-firstname="admin" \
      --admin-lastname="admin" \
      --admin-email="admin@example.lan" \
      --admin-password="admin123" \
      --db-host="127.0.0.1" \
      --db-user="root" \
      --db-password="CHANGEME" \
      --db-name="demo_data" \
      --magento-init-params="MAGE_MODE=developer" \
      --use-secure=1 \
      --use-secure-admin=1 \
      --session-save=redis \
      --session-save-redis-host=127.0.0.1 \
      --session-save-redis-port=6379 \
      --session-save-redis-db=1 \
      --cache-backend=redis \
      --cache-backend-redis-server=127.0.0.1 \
      --cache-backend-redis-db=0 \
      --cache-backend-redis-port=6379 \
    ;

  Import Database from stage
  
    echo "
    mysql -e 'show databases'
    " | ssh -o StrictHostKeyChecking=no \
        -o UserKnownHostsFile=/dev/null \
        -o LogLevel=ERROR \
        www-stage@stage.example.com

    echo "show databases" | mysql

    # About X minute (XX.XMiB)
    echo "
    mysqldump \
        --single-transaction \
        --triggers \
        --routines \
        --events \
        --default-character-set=utf8 \
        example_stage | gzip
    " | ssh -o StrictHostKeyChecking=no \
        -o UserKnownHostsFile=/dev/null \
        -o LogLevel=ERROR \
        www-stage@stage.example.com \
      | pv | gunzip \
      | LC_ALL=C sed 's/\/\*[^*]*DEFINER=[^*]*\*\///g' \
      | mysql -D demo_data --default-character-set=utf8

  Sync Media Files

    rsync -avz --progress \
      -e "ssh -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -o LogLevel=ERROR" \
      --exclude="catalog/product/cache" \
      --exclude="captcha/*" \
      --exclude="tmp/*" \
      www-stage@stage.example.com:/var/www/stage/shared/pub/media/ \
      /var/www/data/magento/pub/media/

  Setup configs for devenv

    cd /var/www/data/magento

    # Initialize setup
    bin/magento setup:upgrade

    # Configure Magento
    
    # Default
    bin/magento config:set --lock-env web/unsecure/base_url https://example.lan/
    bin/magento config:set --lock-env web/unsecure/base_link_url https://example.lan/
    bin/magento config:set --lock-env web/unsecure/base_static_url https://example.lan/static/
    bin/magento config:set --lock-env web/unsecure/base_media_url https://example.lan/media/
    bin/magento config:set --lock-env web/secure/base_url https://example.lan/
    bin/magento config:set --lock-env web/secure/base_link_url https://example.lan/
    bin/magento config:set --lock-env web/secure/base_static_url https://example.lan/static/
    bin/magento config:set --lock-env web/secure/base_media_url https://example.lan/media/

    # store1 example
    # bin/magento config:set --scope=store --scope-code=store1 --lock-env web/unsecure/base_url https://store1.example.lan/
    # bin/magento config:set --scope=store --scope-code=store1 --lock-env web/unsecure/base_link_url https://store1.example.lan/
    # bin/magento config:set --scope=store --scope-code=store1 --lock-env web/unsecure/base_static_url https://store1.example.lan/static/
    # bin/magento config:set --scope=store --scope-code=store1 --lock-env web/unsecure/base_media_url https://store1.example.lan/media/
    # bin/magento config:set --scope=store --scope-code=store1 --lock-env web/secure/base_url https://store1.example.lan/
    # bin/magento config:set --scope=store --scope-code=store1 --lock-env web/secure/base_link_url https://store1.example.lan/
    # bin/magento config:set --scope=store --scope-code=store1 --lock-env web/secure/base_static_url https://store1.example.lan/static/
    # bin/magento config:set --scope=store --scope-code=store1 --lock-env web/secure/base_media_url https://store1.example.lan/media/

    bin/magento config:set dev/static/sign 0
    bin/magento config:set system/full_page_cache/caching_application 1

    bin/magento app:config:import
    bin/magento cache:flush
    bin/magento deploy:mode:set developer
    bin/magento cache:flush

    bin/magento cache:disable layout
    bin/magento cache:disable block_html
    bin/magento cache:disable full_page

  Monitor Mutagen

    mutagen sync monitor

  Open in browser

    https://example.lan/
  
  Stop Mutagen
  
    mutagen sync terminate magento
  
  Stop Vagrant
  
    vagrant halt
