---
##Domains used by server
# app_domain: example.lan
#
# syseng_access_users:
#   - { username: www-data, pubkey: ~/.ssh/id_rsa.pub }
# www_user_ssh_keys:
#   - ~/.ssh/id_rsa.pub
#
# php_version: 72
# php_enablerepo: ius
# percona_version: 56
# mysql_root_pw: CHANGEME

##Check to see what your system's timezone is set to
# ls -la /etc/localtime
# timezone_name: America/Chicago

# virtualhost_disks:
#   - { mount_path: /data, disk_device: sdb, partition_device: sdb1, fstype: xfs }
#   - { mount_path: /datadb, disk_device: sdc, partition_device: sdc1, fstype: xfs }
#
# mysqld_datadir: /datadb/mysql
# location_var_www: /data/www

# nginx_vhosts:
#   - name: "{{ app_domain }}"
#     pool: data
#     params:
#       server_name: "{{ app_domain }}"
#       webroot: /var/www/data/magento/pub
#       #proxy_port: 6081
#       proxy_port: 8080
#     includes:
#       - available.d/magento2-static.conf
#
# nginx_backends:
#   - name: www-data
#     pool: data
#     listen: 8080
#     webroot: /var/www/data/magento/pub
#     includes:
#       - default.d/nginx-status.conf
#       - available.d/realip.conf
#       - available.d/magento2.conf
#
# nginx_extras:
#   - conf.d/map.conf
#   #- { src: ../persistent/templates/nginx/conf.d/map.conf, dest: conf.d/map.conf }
#   - available.d/realip.conf
#   - { src: nginx/magento2-static.conf, dest: available.d/magento2-static.conf }
#   - { src: nginx/magento2.conf, dest: available.d/magento2.conf }
