{
  "ELASTIC_HOST": "{{ es_api_host }}",
  "ELASTIC_PORT": "{{ es_api_port }}",
  "ELASTIC_USERNAME": "{{ es_api_basic_auth_username }}",
  "ELASTIC_PASSWORD": "{{ es_api_basic_auth_password }}",
  "CURL_STRING": "curl -s -u{{ es_api_basic_auth_username }}:{{ es_api_basic_auth_password }} {{ es_api_uri }}"
}
